<section class="schedule bg-rose-100">
  <div class="container mx-auto pt-20 pb-4 px-8 lg:px-4">
    <h1 class="font-bold text-xl lg:text-5xl text-rose-800 text-center mb-16">
      2 days. 1 track. 16+ speakers.
    </h1>
    <div class="md:grid md:grid-cols-2 md:gap-8 space-y-8 md:space-y-0">
      {% for day_data in site.data.schedule %}
        <div class="flex-grow p-4 rounded-lg border-4 border-rose-800 bg-white">
          <div class="w-full h-full">
            <h3 class="px-6 py-3 text-lg font-bold text-center text-rose-800">Day {{ forloop.index }}</h3>
            <table class="min-w-full divide-y divide-gray-200">
              <tbody class="divide-y divide-gray-200">
                {% for session in day_data[1] %}
                  <tr>
                    <td class="w-1/6 px-2 py-4 font-medium text-gray-800 align-top whitespace-nowrap">
                      {{ session.time }}
                    </td>
                    <td class="w-5/6 px-6 py-4 font-semibold text-gray-800 align-top">
                      <div class="flex items-center justify-between gap-x-5">
                        <div>
                          <h4>{{ session.title }}</h4>
                          {% if session.speaker %}
                            <p class="text-md text-rose-800">{{ session.speaker }}</p>
                          {% endif %}
                        </div>
                        {% if session.image %}
                          <div class="shrink-0">
                            <img class="inline w-12 h-12 rounded-full" src="{{ session.image }}">
                          </div>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>