<section class="pb-16 schedule bg-rose-100">
  <div class="container px-8 pt-4 pb-8 mx-auto lg:px-4">

    <div class="relative mx-auto w-7xl rounded-lg bg-white [box-shadow:0_40px_0_0_#CC7996,0_15px_0_0_#CC7996] border-4 border-rose-800">
      <div class="p-8">
        <h3 class="text-2xl font-bold text-center text-rose-800">
          Featured Speakers
        </h3>
        <div class="flex flex-col flex-wrap pb-8 mt-8 md:flex-row">
          {% for speaker in site.data.speakers %}
            <div class="flex flex-col items-center w-full mt-4 md:items-start md:w-1/2 md:flex-row">
              <img
                src="{{ speaker.image }}"
                class="w-24 h-24 transition-transform border-4 shrink-0 rounded-xl border-rose-400 hover:-translate-y-2"
                alt="{{ speaker.name }}">
              <div class="flex flex-col items-center px-4 md:items-start md:justify-start ">
                <h3 class="text-xl font-semibold text-center text-neutral-800 md:text-left">
                  {{ speaker.talk }}
                </h3>
                <p class="flex flex-row items-center justify-start font-bold text-rose-800 gap-x-2">
                  <span class="inline-block">{{ speaker.display_name }}</span>
                  {% if speaker.github %}
                    <a
                      href="https://github.com/{{ speaker.github }}"
                      target="_blank"
                      class="block">
                      {% svg "/assets/icons/github.svg" class="w-4 h-4 fill-rose-800" %}
                    </a>
                  {% endif %}
                </p>
                <p class="text-neutral-800">
                  {{ speaker.title }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>